@font-face {
  font-family: "Cormorant SC";
  src: url("./CormorantSC/CormorantSC-Medium.ttf") format("truetype"); /* Укажите путь к файлу шрифта */
  font-weight: normal; /* Определите жирность шрифта */
  font-style: normal; /* Определите стиль шрифта (курсив, наклонный и т.д.) */
}
@font-face {
  font-family: "Inter";
  src: url("./Inter/Inter-Medium.otf") format("truetype"); /* Укажите путь к файлу шрифта */
  font-weight: normal; /* Определите жирность шрифта */
  font-style: normal; /* Определите стиль шрифта (курсив, наклонный и т.д.) */
}
@font-face {
  font-family: "Inter-ExtraLight";
  src: url("./Inter/Inter-ExtraLight.otf") format("truetype"); /* Укажите путь к файлу шрифта */
  font-weight: normal; /* Определите жирность шрифта */
  font-style: normal; /* Определите стиль шрифта (курсив, наклонный и т.д.) */
}
